<div class="container">
<h1>SpinoffNewsletter.com</h1>
<p>Reminder, find this page: views/landings/index.html.erb</p>
<p> Create content here to get users to buy and 
  add a "Subscribe Now" button/form </p>

<%= button_to "Subscribe", new_subscribe_path, :class => "button", :method => :get  %>

</div>



