<%= render partial: "elements/navbar" %>
<%= bootstrap_flash %>
<div class="container">


<h1> FAQ's </h1>
<body>

<p> What information is contained in Spin-off Newsletter.com? </br>

We provide a newsletter of recent and upcoming spin-off for value investors of all kinds. On the first of every month (or upon their joining the site), we email our members an updated list of all recent spinoffs as well as upcoming spin-offs.  We cover all domestic spin-offs and give no recommendation of any kind, we just want to provide investors a resource that is clean and easy to use to save them time and money. 

</p> 
</br>

<p> How much does it cost? </br>

$24.99 per month “Subscribe Here" 

</p>
</br>


<p> How often is Spin-off Newsletter sent out? </br>

Monthly on the first of every month.  Upon subscribing, you will receive the latest month’s subscription and can log in to the site to view all recent and upcoming spinoffs as well. 

</p>
</br>



<p> Can I have the most recent issue as a sample? </br>

We give all of our customers a 30 day free trial to ensure that you are happy with our product and services we provide to save our customers time and money. 
</p>
</br>

<p> How do I sign up?

You can go to our “Subscribe Page” listed here to get access and become a member. 
</p>
</br>
 

</body>


</div>




