<div class="wrap_faq">
  <%= render partial: "elements/navbar" %>
  <%= bootstrap_flash %>
  <div class="container_faq">
    <h1 class="header_faq">FAQ's</h1>

    <p class="question">What information is contained in Spinoff Newsletter.com?</p>

    <p class="answer">
      We provide a newsletter of recent and upcoming spinoff for value investors of all kinds. On the first of every month (or upon their joining the site), we email our members an updated list of all recent spinoffs as well as upcoming spinoffs.  We cover all domestic spinoffs and give no recommendation of any kind, we just want to provide investors a resource that is clean and easy to use to save them time and money. 
    </p> 

    <p class="question">How much does it cost?</p>

    <p class="answer">$24.99 per month "<%= link_to 'Subscribe Here', new_subscribe_path, class: 'subscribe' %>"</p>

    <p class="question">How often is Spinoff Newsletter sent out?</p>

    <p class="answer">
      Monthly on the first of every month.  Upon subscribing, you will receive the latest month’s subscription and can log in to the site to view all recent and upcoming spinoffs as well. 
    </p>

    <p class="question">Can I have the most recent issue as a sample?</p>

    <p class="answer">
      We give all of our customers a 30 day free trial to ensure that you are happy with our product and services we provide to save our customers time and money. 
    </p>

    <p class="question">How do I sign up?</p>

    <p class="answer">You can go to our "<%= link_to 'Subscribe Page', root_path, class: 'subscribe' %>" listed here to get access and become a member.</p> 
    
  </div>
</div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p>© Spinoff News Letter - Designed &amp; Developed by<br> <a href="http://www.ajeanwebdev.com/">Ajean Web Dev</a> &amp; <a href="https://github.com/palmbeachjeff">Palm Beach Jeff</a></p>
          </div>
        </div>
      </div>
    </footer>






