// Place all the styles related to the Spinoffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.jumbotron {
  background-image: url(city_clouds_lights_skyscrapers.jpg);
  background-position: center;
  height: 400px; 
}// Place all the styles related to the spinoffs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
